KAFKA_BOOTSTRAP_SERVERS=localhost:9093
KAFKA_ANALYTICS_BOOTSTRAP_SERVERS=localhost:9099,localhost:9101,localhost:9103

KAFKA_TOPIC_NAME=shops_stock_accepted
KAFKA_TOPIC_NAME_RAW=shops_stock_received
KAFKA_TOPIC_NAME_BANNED=shops_stock_banned
KAFKA_ANALYTICS_TOPIC_NAME_USER_ACTIONS=user_actions
KAFKA_ANALYTICS_TOPIC_NAME=source.shops_stock_accepted
KAFKA_ANALYTICS_TOPIC_NAME_RECOMMENDATIONS=product_recommendations

API_KSQLDB_URL=http://localhost:8088
API_ELASTICSEARCH_URL=http://localhost:9200
API_KAFKA_USER_ACTIONS_TOPIC_NAME=user_actions
API_KAFKA_BOOTSTRAP_SERVERS=localhost:9099
API_ELASTICSEARCH_INDEX=shops_stock_accepted
SSL_TRUSTSTOREPASSWORD=kafka-secret

PRODUCER_SASL_USERNAME=producer
PRODUCER_SASL_PASSWORD=producer-secret

FAUST_SASL_USERNAME=faust
FAUST_SASL_PASSWORD=faust-secret
FAUST_DATA_STORE="rocksdb://"

SCHEMA_REGISTRY_TRUSTSTORE_PASSWORD=kafka-secret

ANALYTICS_SASL_USERNAME=analytics
ANALYTICS_SASL_PASSWORD=analytics-secret
ANALYTICS_SSL_TRUSTSTORE_PASSWORD=kafka-secret

CLIENT_API_SASL_USERNAME=client_api
CLIENT_API_SASL_PASSWORD=client-api-secret

KSQL_SASL_USERNAME=admin
KSQL_SASL_PASSWORD=admin-secret

UI_SASL_USERNAME=admin
UI_SASL_PASSWORD=admin-secret

GRAFANA_USER=admin
GRAFANA_PASSWORD=kafka